@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "interR";
    src: url("/src/fonts/Inter-Regular.ttf");
  }
  
  @font-face {
    font-family: "interB";
    src: url("//src/fonts/Inter-Bold.ttf");
  }